<h1>Search Index</h1>
<div class="container">

<%= form_tag flights_path, method: 'get' do %>
  <div class="form_select" id="departure_select">
    <%= label_tag "Departure Airport" %>
    <%= select_tag(:departure_id, options_for_select(@departures)) %>
  </div>
  <div class="form_select" id="arrival_select">
    <%= label_tag "Arrival Airport" %>
    <%= select_tag(:arrival_id, options_for_select(@arrivals)) %>
  </div>
  <div class="form_select" id="passengers_select">
    <%= label_tag "Passengers" %>
    <%= select_tag(:seats, options_for_select(@seats)) %>
  </div>
  <div class="form_select" id="flight_date_select">
    <%= label_tag "Departure Date" %>
    <%= select_tag(:take_off, options_for_select(@date)).to_s %>
  </div>
  <div>
    <%= submit_tag "Search for Flight", name: nil %>
  </div>
<% end %>

<% if @search.length > 0 %>
  <h2>Available Flights</h2>
  <%= form_tag flights_path do %>
  <% end %>
  
  
  <table>
    <tr>
      <th>Select Flight</th>
      <th>Departure Airport</th>
      <th>Arrival Airport</th>
      <th>Departure Date</th>
    </tr>
    <% @search.each do |f| %>
      <tr>
        <td><%= radio_button_tag(:foo, "TEST") %>
        <td><%= f.departure_airport.code %></td>
        <td><%= f.arrival_airport.code %></td>
        <td><%= f.take_off.to_s(:short) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
