<div class="section">
  <%= form_for bookings_path, html: { class: 'columns' } do %>
    <% @manifest.each_with_index do |m, i| %>
      <%= fields_for 'passengers[]', m do |p| %>
        <div class="column bg-translucent has-margins">
          <%= p.label :name, "Passenger #{i + 1} Name", class: 'label' %>
          <%= p.text_field :name, class: 'input', required: true %>
        
          <%= p.label :email, class: 'label' %>
          <%= p.text_field :email, class: 'input', required: true %>
        </div>
      <% end %>
    <% end %>
</div>

<div class="column has-text-centered">
    <%= hidden_field_tag :flight_id, params[:selected] %>
    <%= submit_tag "Book Flight", name: nil, class: 'button is-primary is-large' %>
  <% end %>
</div>