<% if @booking.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@booking.errors.count, "error") %> prohibited
      this user from being saved:
    </h2>

    <ul>
    <% @booking.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="section">
  <%= form_for @booking, html: { class: 'columns' } do |booking_form|%>
    <%= booking_form.fields_for :passengers do |p| %>
      <div class="column bg-translucent has-margins">
        <%= p.label :name, "Passenger Name", class: 'label' %>
        <%= p.text_field :name, class: 'input', required: true %>
        
        <%= p.label :email, class: 'label' %>
        <%= p.text_field :email, class: 'input', required: true %>
      </div>
    <% end %>
</div>

<div class="column has-text-centered">
    <%= booking_form.hidden_field "flight_id", value: params[:selected] %>
    <%= booking_form.submit "Book Flight", name: nil, class: 'button is-primary is-large' %>
  <% end %>
</div>